*.o
*.lo
*.la
*.al
*.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
*.#*
.*.swp
.DS_store

# log files
*.log
Trials/
Excel_Sheets
Save_File/
Save_Folder/
Output_Files/
dist/
pagex_exe/
pagex_worker.spec
build/
.vscode
docs - copy